@media screen and (min-width: 1000px){
    .quienes-somos{
        flex-direction: row;
    }

    .quienes-somos-img{
        width: 45vw;

    }

    .text-container{
        width: 45vw;
        padding: 1rem 2rem 0;
    }

    .title-quienes-somos{
        text-align: center;
        font-size: 2.25rem;
        line-height: 2rem;
    }

    .text-quienes-somos{
        text-align: center;
        font-size: 1.25rem;
        line-height: 2rem;
        margin-top: 1rem;
    }
}