.home {
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  text-align: center;
}

.home-span-1 {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

.home-span-2 {
  font-size: 1rem;
}
