@media screen and (min-width: 1000px) {
  .home {
    justify-content: unset;
    align-items: unset;
  }

  .home-container {
    text-align: left;
    margin: 30vh 0 0 10vw;
  }

  .home-span-1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .home-span-2 {
    font-size: 2rem;
  }

  .home-br {
    display: block;
  }
}
