@media screen and (min-width: 1000px) {
  .home {
    justify-content: unset;
    align-items: unset;
  }

  .home-container {
    width: 100%;
  }

  .home-box-up {
    width: 100%;
    margin: 10rem 10% 0;
  }

  .home-title {
    font-size: 35px;
    text-align: left;
    margin: 0 0 1rem 0;
  }

  .home-subtitle {
    text-align: left;
    font-weight: 300;
    font-size: 25px;
    margin: unset;
  }

  .home-box-down {
    text-align: left;
    margin: 0 10% 5rem;
    font-size: 30px;
  }

  .home-info2 {
    font-size: 20px;
  }
}
