.form{
  width:100vw;
}

.form-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-box{
  margin: 2rem;
}

.contact-text{
  font-size: 3rem;
  font-weight: 700;
  line-height: 5rem;
  color: var(--main-color);
}


input
{
  width: 500px;
  height: 50px;
  padding: 0.5em;
  font-size: 1.2rem;
}

textarea{
  display: flex;
  width: 500px;
  height: 250px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5em;
  border: 1px solid #E6E6E6;
}


input[type="text"],
input[type="email"]{
  display: flex;
  margin: 0 0 1em;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  outline: none;
}

.btn-submit{
  width: 120px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: var(--white-color);
  margin-top: 1rem;
}
