/*MEDIA QUERYS*/

@media screen and (min-width: 1000px) {
  .nav-container {
    background-color: #606265;
    height: 20vh;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-menu-title {
    color: var(--main-color);
    font-size: 3rem;
    margin: 0 5vw;
    width: 100px;
  }

  .nav-menu-list {
    transform: translate(0);
    position: relative;
    flex-direction: row;
    height: 100%;
    top: 0;
    background-color: unset;
    margin: 0 5vw;
    font-size: 1.25rem;
  }
}
