@media screen and (min-width: 1000px) {
    .values{
        width: 100vw;
        height: 300px;
    }
    
    .swiper-container{
        margin: 2rem;
    }
    
    .value-title{
        color: var(--main-color);
        font-size: 2rem;
        font-weight: 600;
    }
    
    .value-txt{
        font-size: 0.75rem;
        font-weight: 400;
        text-align: justify;
        margin-top: 1rem;
    }

    .arrow{
        position: absolute;
        width: 30vw;
        height: 1.5px;
        margin-top: 1rem;
        background-color: #606265;
    }
    

}